/* Resets */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #d3dcbec9;
}
.row{
    margin-bottom: 0;
}
.row .col{
    padding: 0;
}
/* end Resets */

.round{
    border-radius: 20px;
}
/* color definitions*/
.green-ge{
    background-color: #3b9c00 !important;
}
.green-bb{
    background-color: #377517 !important;
}
.yellow-bet{
    background-color: #f7f00e !important;
}


/* end color definitions*/
nav .brand-logo{
    font-family: 'Exo 2', sans-serif;
    padding: 0 15px;
}

.section-header{

    font-family: 'Exo 2', sans-serif;
    background-color: #2d9639;
    font-size: 1.6rem;
}

/* ticket */

.ticket-list li a{
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    color: #0c143a;
}

.ticket-list li{
    padding: 5px 0px 0px 0px;
}

.bet{
    font-weight: bold;
}
.bet-delete{
   width: 86px;
   margin: auto;
   font-weight: bold;
   cursor: pointer;
}
/* end ticket */

/* championship */
.championship-header{
    background-color: #2d9639;
    font-size: 1.4rem;
    margin-top: 10px;
}

.championship-main-header{
    max-width: 70%;
    background-color:#29a750 !important;
    border-radius: 50px;
    font-size: 1.5rem;
    margin: auto;
}

.championship-color{
    background-color: #2d9639;
}
.championship-list li a{
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    color: #0c143a;
}
.championship-list li a:hover{
    text-decoration: underline;
}
/* end championship */

/* suvnav */
.subnav{
    height: 22px;
}
.main-section{
    margin-top: 10px;
}
.games-table-container{
    padding: 2px 12px 0px 12px;
}

.time{
    margin-right: 10px;
    font-weight: bold;
}
.games-table td{
    padding: 10px 5px
}

.cotation:hover{
    cursor: pointer;
    font-weight: bold;
}

/*
.cotation:hover{
    height: 30px;
    width: 30px;
    line-height: 0.5;
    border: solid 1px #000000;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: #0e0909;
    font-weight: bold;
}
*/

.more-cotation:hover{
    cursor: pointer;
    color: #0e0909;
    font-weight: bold;
}

.bet-award{
    font-size: 1.5rem;
}
.cotation-sum{
    font-weight: bold;
}
.award-value-text{
    font-weight: bold;
    font-size: 1.5rem;
}
.btn-bet-submit-seller{
    margin-top: 10px;
    margin-bottom: 12px;
}

.btn-bet-submit{
    margin-top: 10px;
    margin-bottom: 12px;
}

.side-nav{
    background-color: #39B54A;
}
.collapsible-header{
    background-color: #39B54A;
    color: #ffffff;
    font-size: 1.4rem;
}
.bet-ticket-value-text{
    font-size: 1.3rem;
    font-style: italic;
}
.bet-ticket-input{
    margin-top: -10px;
    padding: 0 25px 0 25px !important;
}

.bet-ticket-value-text-m{
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 15px;
}

.delay-msg{
    font-size: 1.3rem;
    font-weight: bold;
}

.hcenter{
    margin: auto;
    float: none !important;
}
.details-header-games{
    margin-top: 30px !important;
}
.ticket-details{
    margin-top: 20px !important;
    padding: 20px 3px 20px 3px !important;
    font-size: 1.2rem !important;
}
.ticket-details h5{
    font-style: italic;
    font-weight: bold;
}
.change-pass{
    padding: 20px 10px 20px 10px !important;
}

.success-bet{
    padding-top: 20px !important;
    font-size: 1.3rem;
    font-style: italic;
}

.ticket-number{
    font-weight: bold;
}

.seller-menu{
    padding-bottom: 10px !important;
}
.game-start-date{
    padding: 0px 30px;
}

.user-logged-name{
    font-family: sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.more_cotations_button{
    cursor: pointer;
}
.collapsible{
    margin-top: 0;
}

.cotation-market-label{
    background-color: #e7f7e9;
    font-weight: bolder;
    font-size: 1.2rem;
}

.more-cotations-thead{
    font-size: 1.5rem;
}
.table-game-name{
    font-size: 1.2rem;
    color: #1027c7;
}

.user-logged-mobile{
    text-align: center;
}
.ajs-message{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #34b876 !important;
    color: #ffffff !important;
}