/* Resets */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #d3dcbec9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
  
.row{
    margin-bottom: 0;
}
.row .col{
    padding: 0;
}

.btn{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.2px;
}

nav ul a.btn{
    margin-left: 0px;
    padding-left: 24px;
    padding-right: 24px;
}

tbody tr td {
    text-align: center;
}

thead tr th {
    text-align: center;
}

.bold {
    font-weight: bold;
}
/* end Resets */

.round{
    border-radius: 30px;
}

/* color definitions*/
.yellow-bet{
    background-color: #f7f00e !important;
}
.green-text-button{
    color: #334a40 !important;
}
.blue-button{
    background-color: #1969a2;
}
/* end color definitions*/


.main-nav {
    background-color: #334a40;
}

nav .brand-logo{
    font-family: 'Exo 2', sans-serif;
    padding: 0 15px;
}

.section-header{

    font-family: 'Exo 2', sans-serif;
    background-color: #334a40;
    font-size: 1.6rem;
}

/* ticket */

.ticket-list li a{
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    color: #0c143a;
}

.ticket-list li{
    padding: 5px 0px 0px 0px;
}

.bet{
    font-weight: bold;
}
.bet-delete{
   width: 86px;
   margin: auto;
   font-weight: bold;
   cursor: pointer;
}
/* end ticket */

/* championship */
.championship-header{
    background-color: #ca4949;
    font-size: 1.4rem;
    margin-top: 10px;
}

.championship-main-header{
    font-size: 1.4rem;
    color: #1e9c2d;
}

.championship-color{
    background-color: #2d9639;
}

.championship-list-mobile{
    margin-bottom: 20px;
}
.bet-ticket-value-row{
    margin-top: 20px;
}
.championship-list li a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    color: #000000;
}
.championship-list li a:hover{
    font-style: italic;
}
/* end championship */

.slider-wrapper{
    padding: 0px 12px;
}

/* suvnav */
.subnav{
    height: 16px;
    background-color: #ffcc2a;
}
.main-section{
    margin-top: 10px;
}
.games-table-container{
    margin: 2px 12px 0px 12px;
    background-color: #ffffff;
}

.time{
    margin-right: 10px;
    font-weight: bold;
}
.games-table td{
    padding: 10px 5px
}

.cotation:hover{
    cursor: pointer;
}

.bet-award{
    font-size: 1.5rem;
}
.cotation-sum{
    font-weight: bold;
}
.award-value-text{
    font-weight: bold;
    font-size: 1.5rem;
}
.btn-bet-submit-seller{
    margin-top: 10px;
    margin-bottom: 12px;
}

.btn-bet-submit{
    margin-top: 10px;
    margin-bottom: 12px;
}

.side-nav{
    background-color: #334a40;
}
.collapsible-header-mobile{
    font-family: 'Exo 2', sans-serif;
    background-color: #334a40;
    color: #ffffff;
    font-size: 1.4rem;
}
.bet-ticket-value-text{
    font-size: 1.3rem;
    font-style: italic;
}
.bet-ticket-input{
    margin-top: -10px;
    padding: 0 25px 0 25px !important;
}

.bet-ticket-value-text-m{
    font-size: 1.3rem;
    font-style: italic;
    margin-top: 15px;
}

.delay-msg{
    font-size: 1.3rem;
    font-weight: bold;
}

.hcenter{
    margin: auto;
    float: none !important;
}
.details-header{
    font-family: 'Exo 2', sans-serif;
}
.details-header-games{
    font-family: 'Exo 2', sans-serif;
    margin-top: 30px !important;
}
.ticket-details{
    margin-top: 20px !important;
    padding: 20px 5px 20px 5px !important;
    border-radius: 25px;
    margin-bottom: 25px;
}

.change-pass{
    padding: 20px 10px 20px 10px !important;
}

.success-bet{
    padding-top: 20px !important;
    font-size: 1.3rem;
    font-style: italic;
}

.ticket-number{
    font-weight: bold;
}

.seller-menu{
    padding-bottom: 10px !important;
}
.game-start-date{
    padding: 0px 30px;
}

.user-logged-name{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-right: 15px;
}

.more_cotations_button{
    cursor: pointer;
}
.collapsible{
    margin-top: 0;
}

.cotation-market-label{
    background-color: #e7f7e9;
    font-weight: bolder;
    font-size: 1.2rem;
}

.more-cotations-thead{
    font-size: 1.5rem;
}
.table-game-name{
    font-size: 1.3rem;
    color: #0c1971;
}

.user-logged-mobile{
    text-align: center;
}

.ajs-message{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    background-color: #458e43 !important;
    color: #ffffff !important;
}

.alertify-notifier .ajs-message.ajs-visible{
    width: 250px;
    padding: 10px;
}

.empty_game_set{
    text-align: center;
    font-size: 1.6rem;
    color: #000000;
    background-color: white;
    max-width: 95%;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Exo 2', sans-serif;
}

span.step-links li.active a{ 
    background-color: #3b9c00;
}

.main-logo{
    margin-top: 5px;
}

.bet-buttons{
    margin-bottom: 20px;
}

.championship-collapse-header{
    background-color: #ffffff;
    padding: 0.5rem;
    color: #0e0909;
    font-size: 1.4rem;
}
.championship-collapse-body{
    padding: 20px 20px;
    font-size: 1.5rem;
}

.ul-collapsible{
    margin-bottom: 0;
}

.championship-li{
    color: #0e0909;
}

.th-championship{
    padding: 10px 5px;
    font-weight: 500;
}

.th-championsip-header{
    font-family: 'Exo 2', sans-serif;
    padding: 0;
    background-color: #334a40;
    color: #ffffff;
    font-size: 1.45rem;
}

.download-instructions{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
}

.medium-icon{
    font-size: 2.4rem;
}

.alertify .ajs-header {
    font-family: 'Exo 2', sans-serif;
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    background: #334a40;
    border-bottom: #eee 1px solid;
    border-radius: 2px 2px 0 0;
}

.alertify .ajs-body .ajs-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 16px 24px 16px 16px;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok{
    color: #ffffff;
    background-color: #8ad863;
}

.ul-championship-title li a:hover{
    font-style: italic;
}

.see-ticket-after-create{
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: 0 auto;
    background-color: #173875;
}

.ticket-number-after-create{
    font-size: 2rem;
}

.ticket-details-info .row{
    font-size: 1.4rem;
}


.ticket-details-table{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    padding: 20px;
}
.ticket-details-table tbody td {
    padding: 5px 5px;
}

.ticket-details-table thead{
    background-color: #d2efd2;
}

.ticket_not_found{
    font-family: 'Exo 2', sans-serif;
    color:#546921;
    font-size: 2rem;
    font-weight: bold;
}

.base-footer{
    margin-top: 50px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
    background-color: #334a40;
}

#ticket-details-actions{
    margin-top: 20px;
}

.game-item-wrapper{
    margin: 15px 0px;
}

.more_cotations_button{
    width: 70%;
    margin: auto;
    height: 100%;
    display: block;
    background-color: #edb811;
    border-radius: 30px;
    padding: 8px 0px;
    color:#ffffff;
    font-weight: bold;
    margin-top: 6px;
}

.more-cotation{
    cursor: pointer;
    width: 60%;
    margin: auto;
    height: 100%;
    display: block;
    background-color: #919ad4;
    border-radius: 30px;
    padding: 8px 0px;
    color:#ffffff;
    font-weight: bold;
    margin-top: 6px;
}

.more-cotation-name{
    font-family: 'Exo 2', sans-serif;
}

.cotation{
    width: 70%;
    margin: auto;
    height: 100%;
    display: block;
    background-color: #289c6a;
    border-radius: 30px;
    padding: 8px 0px;
    color:#ffffff;
    font-weight: bold;
    margin-top: 6px;
}

.home-away-header{
    font-size: 1.2rem;
    padding: 1px 0px !important;
}

.more_cotation_header-h4{
    font-size: 2rem;
}

#back-to-top {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 15px;
    right: 15px;
  }

.main-logo{
    margin-top: 6px;
    margin-left: 10px;
}

@media only screen and (max-width: 992px){

    .main-logo{
        margin-top: 4px;
        margin-left: 14px;
    }
    

    .game-item-wrapper{
        margin: 10px 20px;
    }

    .cotation-itens-wrapper{
        margin-top: 6px;
    }

    .more_cotations_button{
        width: 70%;
        margin: auto;
        height: 100%;
        display: block;
        background-color: #edb811;
        border-radius: 30px;
        padding: 4px 4px;
        color:#ffffff;
        font-weight: bold;
    }

    .cotation{
        width: 70%;
        margin: auto;
        height: 100%;
        display: block;
        background-color: #289c6a;
        border-radius: 30px;
        padding: 4px 4px;
        color:#ffffff;
        font-weight: bold;
    }


    nav .brand-logo{
        padding: 0px;
        font-size: 1.6rem;
    }

    .modal {
        width: 98%;
        max-height: 85%;
    }
    .more_cotation_header-h4{
        font-size: 1.8rem;
    }
}


    
