.wait_ticket {
	font-weight: bold;
}

.winner_not_paid{
    font-weight: bold;
    background-color: yellow;
    padding: 12px 22px;
    border-radius: 20px;
    width: 100%;
    margin-right: 50px;
}

.winner_ticket{
	font-weight: bold;
	color:white;
    background-color: green;
    padding: 12px 22px;
    border-radius: 20px;
    width: 100%;
    margin-right: 50px;
}


.loser_ticket{
	font-weight: bold;
	color: white;
    background-color: red;
    padding: 12px 22px;
    border-radius: 20px;
    width: 100%;
    margin-right: 50px;
}

.canceled_ticket{
	font-weight: bold;
	color: white;
    background-color: gray;
    padding: 12px 22px;
    border-radius: 20px;
    width: 100%;
    margin-right: 50px;
}

.consult{
	margin-left: 40px;
	font-weight: bold;
}