[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apscheduler = "==3.3.1"
astroid = "==1.5.3"
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
colorama = "==0.3.9"
django = "==1.11.2"
djangorestframework = "==3.7.1"
gevent = "==1.2.2"
greenlet = "==0.4.12"
grequests = "==0.3.0"
idna = "==2.6"
isort = "==4.2.15"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
mnfy = "==34.0.0"
pbr = "==3.1.1"
"psycopg2" = "==2.7.1"
pylint = "==1.7.2"
pyminifier = "==2.1"
pytz = "==2017.2"
requests = "==2.18.4"
selenium = "==3.5.0"
stevedore = "==1.23.0"
tzlocal = "==1.4"
"urllib3" = "==1.22"
virtualenv = "==15.1.0"
virtualenv-clone = "==0.2.6"
virtualenvwrapper = "==4.7.2"
wrapt = "==1.10.11"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"