[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fpdf = "*"
pika = "*"
django = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
pip = "*"
django-filter = "*"
django-cors-headers = "*"
drf-url-filters = "*"

[dev-packages]

[requires]
python_version = "3.6"
