[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
requests = "*"
fpdf = "*"
pika = "*"
django-apscheduler = "*"
djadmin-ok = "*"
"django-easy-select2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
