<!DOCTYPE html>
<html lang="en">    
    {% load static %}
<head>
    {% include 'core/head.html' %}
</head>

<body>


    <!-- Mass Cotation Modifications -->
    <div id="reduce-cotations" class="modal">
        <div class="modal-content">
                <a href="#" class="modal-close"><i class="material-icons right">close</i></a>

            <h5 class="center-align">Modificar Cotas em Massa</h5>
            <div class="divider"></div>

            <div class="row">
                <form class="col s12" id="reduce-cotations-form">{% csrf_token %}
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">transform</i>
                      <input name="percent" id="icon_prefix" type="number" class="validate percent-reduction">
                      <label for="icon_prefix">Setar para X % do valor original (1-100)</label>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right btn-reduce-cotations">Reduzir</button>
                        </div>
                    </div>
                  </div>
                </form>
              </div>

        </div>
    </div>
    <!-- end Mass Cotation Modifications  -->



        <!-- Reset Revenues -->
        <div id="reset-revenue" class="modal">
            <div class="modal-content">
                    <a href="#" class="modal-close"><i class="material-icons right">close</i></a>
    
                <h5 class="center-align">Zerar Faturamento</h5>
                <div class="divider"></div>
    
                <div class="row">
                    <form class="col s12" id="reset-revenue-form">{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">face</i>
                          <input name="percent" id="icon_prefix" type="number" class="validate reset-revenue">
                          <label for="icon_prefix">Digite a ID do Vendedor</label>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light right btn-reset-revenue">Zerar</button>
                            </div>
                        </div>
                      </div>
                    </form>
                  </div>
    
            </div>
        </div>
        <!-- end Reset Revenues   -->


    <nav>
            <div class="nav-wrapper green-ge">
                {% include 'core/header_info.html' %}
                <ul class="right hide-on-med-and-down">
                    {% if user.is_anonymous %}
                    <li>
                        <a href="#modal-login" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                            Login</a>
    
                    </li>
    
                    <li>
                        <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                            Cadastre-se</a>
                    </li>
    
                    <li>
                        <a href="#modal-check-ticket" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                            Consultar Bilhete</a>
                    </li>
                    {% else %}
                    <li class="user-logged-name">Olá, {{user}}</li>
                    <li>
                        <a href="/user/logout" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                            logout</a>
                    </li>
                    {% endif %}
    
                </ul>
                <ul class="side-nav" id="mobile-menu">
    
                    <li>
                        <a href="#modal-login" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                            Login</a>
                    </li>
                    <li>
                        <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4">
                            Cadastre-se</a>
                    </li>
                    <li>
                        <a href="consultar.html" class="waves-effect waves-light btn white grey-text text-darken-4">
                            Consultar Bilhete</a>
                    </li>
    
                </ul>
    
            </div>
        </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav green-bb">
                <span class="right white-text time"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align hide-on-large-only">
                <ul class="collapsible" data-collapsible="accordion">

                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">assistant_photo</i>Menu</div>
                        <div class="collapsible-body white">
                            <ul class="championship-list">

                                <li class="center-align">
                                    <a href="#reduce-cotations" class="modal-trigger">Modificar Cotas em Massa</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <!-- Mobile menus -->
            </div>
            <!-- row -->
            <div class="row main-section">
                <div class="col s6 hide-on-med-and-down white hoverable hcenter seller-menu">

                    <!-- Championship List Menu-->
                    <div class="championship-header blue-c white-text center-align">
                        Menu
                    </div>
                    <ul class="championship-list">
                        <li class="center-align valign-wrapper">
                            <!-- <i class="material-icons">chevron_right</i> -->
                            <a href="#reduce-cotations" class="modal-trigger">Modificar Cotas em Massa</a>
                            
                        </li>
                        <li class="center-align valign-wrapper">
                            <a href="#reset-revenue" class="modal-trigger">Zerar Faturamento do Vendedor</a>
                        </li>
                        
                    </ul>
                    
                </div>
                
            </div>
    </main>

    {% include 'core/general_js.html' %}

    <script>
    $(document).ready(function(){

        $('.collapsible').collapsible('open', 0);
        
    });
    </script>

</body>

</html>