{% extends './base_main.html' %}

{% block modals %}
{% endblock %}

{% block nav_links_desktop %}
<ul class="right hide-on-med-and-down">
    <li>
        <a href="/" class="waves-effect waves-light btn white green-text-button modal-trigger hoverable">
            Voltar</a>
    </li>
</ul>
{% endblock %}

{% block nav_links_mobile %}
<ul class="side-nav" id="mobile-menu">
    <li>
        <a href="/" class="waves-effect waves-light btn white green-text-button round">Voltar</a>
    </li>
</ul>
{% endblock %}


{% block mobile_menus %}
{% endblock %}

{% block left_section_desktop %}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col s12 center-align">
            <div class="row">
                <h4>Download</h4>
            </div>
            <div class="row">
                <a href="/static/sorte_brasil.apk" class="waves-effect waves-light btn blue-button white-text"><i class="material-icons left">android</i>Baixar</a>
            </div>
            <div class="row">
                <h4>Instruções</h4>
            </div>
            <div class="row">
                <div class="download-instructions">
                        Aplicativos que não são baixados diretamente da Play Store exigem <br>
                        que a opção Fontes Desconhecidas esteja ativada no seu aparelho. <br>
                        O primeiro passo é acessar o menu e escolher a área das “Configurações” (Settings). <br>
                        Depois disso, abra a alternativa “Segurança” (Security), como mostra a imagem abaixo. <br><br>
                        <img src="https://img1.ibxk.com.br/2012/6/materias/34381198826191210.jpg?w=700" alt="Imagem 1"><br><br>

                        Neste submenu, encontre a opção “Fontes Desconhecidas” (Unknown Sources) — exatamente a que você precisa. <br>
                        Basta marcar para que essa alternativa seja válida e a sua nova configuração esteja pronta. <br>
                        Agora execute o arquivo baixado e o mesmo será  instalado normalmente. <br> <br>
                        <img src="https://img2.ibxk.com.br/2012/6/materias/34381198826191226.jpg?w=700" alt="Imagem 2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_section_desktop %}
{% endblock %}
