<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    {% include 'core/head.html' %}
</head>

<body>

    <nav>
        <div class="nav-wrapper green-ge">
            {% include 'core/header_info.html' %}

            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/" class="waves-effect waves-light btn white green-text-button modal-trigger hoverable">
                        Voltar</a>
                </li>
            </ul>

            <ul class="side-nav" id="mobile-menu">

                <li>
                    <a href="/" class="waves-effect waves-light btn white green-text-button round">Voltar</a>
                </li>

            </ul>

        </div>
    </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav green-bb">
                <span class="right white-text time"></span>
            </div>
        </div>

        <div class="row main-section">
            <div class="row">
                <div class="col s12 center-align">
                    <div class="row">
                        <h4>Download</h4>
                    </div>
                    <div class="row">
                        <a href="/static/sorte_brasil.apk" class="waves-effect waves-light btn blue-button white-text"><i class="material-icons left">android</i>Baixar</a>
                    </div>
                    <div class="row">
                        <h4>Instruções</h4>
                    </div>
                    <div class="row">
                        <div class="download-instructions">
                                Aplicativos que não são baixados diretamente da Play Store exigem <br>
                                que a opção Fontes Desconhecidas esteja ativada no seu aparelho. <br>
                                O primeiro passo é acessar o menu e escolher a área das “Configurações” (Settings). <br>
                                Depois disso, abra a alternativa “Segurança” (Security), como mostra a imagem abaixo. <br><br>
                                <img src="https://img1.ibxk.com.br/2012/6/materias/34381198826191210.jpg?w=700" alt="Imagem 1"><br><br>

                                Neste submenu, encontre a opção “Fontes Desconhecidas” (Unknown Sources) — exatamente a que você precisa. <br>
                                Basta marcar para que essa alternativa seja válida e a sua nova configuração esteja pronta. <br>
                                Agora execute o arquivo baixado e o mesmo será  instalado normalmente. <br> <br>
                                <img src="https://img2.ibxk.com.br/2012/6/materias/34381198826191226.jpg?w=700" alt="Imagem 2">
                        </div>
                    </div>
                    
                </div>
            </div>

            

        </div>
    </main>

    {% include 'core/general_js.html' %}

</body>

</html>