{% extends './base_main.html' %}

{% load filters %}

{% block modals %}
<!-- More Cotations -->
<div id="more-cotations" class="modal">
        <div class="modal-content">
            <a class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4 class="more_cotation_header-h4">Mais Cotas:
                <span class="more_cotation_header"></span>
            </h4>
            <div class="row">
                <div class="">
                    <table class="bordered highlight white centered more-table">
                        <thead class="more-cotations-thead">
                            <tr>
                                <th>Cota</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="progress more_cotation_progress">
                                <div class="indeterminate"></div>
                            </div>
    
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
    </div>
    <!-- End More Cotations -->
    
    <!-- Modal Login -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
            <a class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Login</h4>
            <div class="row">
                <form class="col s12" id="form-core-login" data-action="{% url 'user:user_login' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="username" id="login" type="text" class="validate" tabindex="1" autofocus>
                            <label for="login">Login</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password" type="password" class="validate" tabindex="2" autocomplete="off">
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="3">Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal Anon User -->
    <div id="modal-anon-user" class="modal">
        <div class="modal-content">
            <a class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Informações do Cliente</h4>
            <div class="row">
                <form class="col s12">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="nome" id="nome" type="text" class="client_name" maxlength="40" tabindex="1" autofocus required>
                            <label for="nome">Nome do Cliente</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="telefone" id="telefone" type="text" class="telefone" maxlength="14" tabindex="2" required autocomplete="off">
                            <label for="telefone">Telefone (Opcional)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right create-ticket-anon" type="button" tabindex="3">Apostar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Modal Anon User -->
    
    
    <!-- Modal Register -->
    <div id="modal-register" class="modal">
        <div class="modal-content">
            <a class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Registro</h4>
            <div class="row">
                <form class="col s12" action="/user/register/" method="POST" id="user_register_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="full_name" id="name_register" type="text" class="validate" tabindex="1" autofocus required>
                            <label for="name" data-error="Nome  obrigatório" data-success="OK">Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="email" id="email_register" type="email" class="validate" tabindex="2">
                            <label for="email" data-error="E-mail inválido" data-success="OK">Email (Opcional)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="login" id="login_register" type="text" class="validate" min="5" tabindex="3" required>
                            <label for="login" data-error="Login obrigatório" data-success="OK">Login</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password_register" type="password" class="validate" tabindex="4" required autocomplete="off">
                            <label for="password" data-error="Senha obrigatória" data-success="OK">Senha</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <input name="cellphone" id="cellphone_register" type="text" class="validate" tabindex="5" data-inputmask="'mask': '99-9999999'"
                            required>
                        <label for="icon_telephone">Telefone</label>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="6">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Modal Register -->
    
    
    <!-- Check Ticket -->
    <div id="modal-check-ticket" class="modal">
        <div class="modal-content">
            <a class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Consultar Bilhete</h4>
            <div class="row">
                <form action="" method="get" id="check-ticket-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">event_note</i>
                            <input id="icon_prefix" type="number" class="validate check-ticket-input" tabindex="1" autofocus autocomplete="off">
                            <label for="icon_prefix">N° do Bilhete</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="2">Consultar</button>
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
    <!-- end Check Ticket -->

    <!-- Validate Ticket -->
    <div id="modal-validate-ticket" class="modal">
        <div class="modal-content">
            <a class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Validar Bilhete</h4>
            <div class="row">
                <form action="" method="get" id="validate-ticket-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">event_note</i>
                            <input id="validate-ticket-input" type="number" class="validate" tabindex="1" autofocus autocomplete="off">
                            <label for="validate-ticket-input">N° do Bilhete</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="2">Validar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- end Validate Ticket -->
    

{% endblock %}

{% block nav_links_desktop %}

<ul class="right hide-on-med-and-down">
        {% if user.is_anonymous %}
        <li>
            <a href="#modal-login" class="waves-effect waves-light btn white green-text-button modal-trigger hoverable">Login</a>
        </li>
        <li>
            <a href="#modal-register" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Cadastre-se</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        {% else %}
        <li class="user-logged-name">Olá, {{user}}</li>
        {% if perms.user.be_manager and not user.is_superuser %}
        <li>
            <a href="{% url 'admin:index' %}" class="waves-effect waves-light btn white green-text-button">
                Painel do Gerente</a>
        </li>       
        {% endif %}
        {% if perms.user.be_seller and not user.is_superuser %}
        <li>
            <a href="{% url 'admin:index' %}" class="waves-effect waves-light btn white green-text-button">
                Painel do Cambista</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        <li>
            <a href="#modal-validate-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Validar Bilhete</a>
        </li>
        {% endif %}
        
        {% if not perms.user.be_seller and not user.is_superuser and not perms.user.be_manager %}
        <li>
            <a href="{% url 'admin:index' %}" class="waves-effect waves-light btn white green-text-button">
                Painel do Cliente</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        {% endif %} 
        {% if user.is_superuser %}
        <li>
            <a href="/admin/" class="waves-effect waves-light btn white green-text-button">
                Administração</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button">
                Logout</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'core:core_app_download' %}" class="waves-effect waves-light btn green-text-button white">
                <i class="material-icons left">android</i>app</a>
        </li>
    </ul>
{% endblock %}

{% block nav_links_mobile %}

<ul class="side-nav" id="mobile-menu">
        {% if user.is_anonymous %}
        <li>
            <a href="#modal-login" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Login</a>
        </li>
        <li>
            <a href="#modal-register" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Cadastre-se</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        {% else %}
        <li class="user-logged-name user-logged-mobile">Olá, {{user}}</li>
        {% if perms.user.be_seller and not user.is_superuser %}
        <li>
            <a href="{% url 'admin:index' %}" class="waves-effect waves-light btn white green-text-button ">
                Painel do Cambista</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        <li>
            <a href="#modal-validate-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Validar Bilhete</a>
        </li>
        {% endif %} {% if not perms.user.be_seller and not user.is_superuser and not perms.user.be_manager %}
        <li>
            <a href="{% url 'admin:index' %}" class="waves-effect waves-light btn white green-text-button ">
                Painel do Cliente</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        {% endif %} 
        {% if user.is_superuser %}
        <li>
            <a href="/admin/" class="waves-effect waves-light btn white green-text-button ">
                Administração</a>
        </li>
        <li>
            <a href="#modal-check-ticket" class="waves-effect waves-light btn white green-text-button modal-trigger">
                Consultar Bilhete</a>
        </li>
        {% endif %}
        {% if perms.user.be_manager and not user.is_superuser %}
        <li>
            <a href="{% url 'admin:index' %}" class="waves-effect waves-light btn white green-text-button">
                Painel do Gerente</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button ">
                logout</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'core:core_app_download' %}" class="waves-effect waves-light btn green-text-button white">
                <i class="material-icons left">android</i>app</a>
        </li>
    </ul>
{% endblock %}
{% block mobile_menus %}
<div class="col s12 center-align hide-on-large-only">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header collapsible-header-mobile">
                    <i class="material-icons">play_circle_outline</i>CAMPEONATOS</div>
                <div class="collapsible-body white">
                    <ul class="championship-list championship-list-mobile">
                        <li>
                            <a href="{% url 'core:core_home' %}" class="">Jogos de Hoje</a>
                        </li>
                        <li>
                            <a href="{% url 'core:core_tomorrow_games' %}" class="">Jogos de Amanhã</a>
                        </li>
                        <li>
                            <a href="{% url 'core:after_tomorrow_games' %}" class="">{{after_tommorrow}}</a>
                        </li>
                    </ul>
    
                    <ul class="collapsible ul-collapsible" data-collapsible="accordion">
                        {% for country in country_leagues %}
                        <li>
                            <div class="collapsible-header championship-collapse-header">
                                <i class="large material-icons green-text-button">chevron_right</i>
                                {{country.name}}
                            </div>
                            <div class="collapsible-body championship-collapse-body">
                                <ul class='ul-championship-title'>
                                    {% for championship in country_leagues|get_item:country %}
                                    <li class="center-align">
                                        <a href="{% url 'core:core_championship_get' pk=championship.pk %}" class="championship-li">{{ championship.name }}</a>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
    
                </div>
            </li>
            <li>
                <div class="collapsible-header collapsible-header-mobile">
                    <i class="material-icons">event_note</i>
                    BILHETE
                </div>
                <div class="collapsible-body white">
                    <ul class="ticket-list">
                    </ul>
                    <div class="make-bet">
                        <div class="row">
                            <form class="col s12">
                                <div class="row bet-ticket-value-row">
                                    <div class="col s12 center-align bet-ticket-value-text">
                                        Valor da Aposta
                                    </div>
                                    <div class="input-field col s12 bet-ticket-input">
                                        <input placeholder="Digite aqui" type="number" class="validate center-align ticket-bet-value ticket-bet-value-mobile">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align cotation-sum">
                                        Cota Total:
                                        <span class="cotation-total">0</span>
                                    </div>
                                    <div class="col s12 center-align award-value-text">
                                        Ganho:
                                        <span class="award-value">R$ 0.00</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button class="btn waves-effect waves-light btn-bet-submit blue-button round" type="button" desktop="False">Apostar
                                            <i class="material-icons right">check</i>
                                        </button>
                                        <button class="btn waves-effect waves-light btn-bet-undo red round" type="button" desktop="False">Resetar
                                            <i class="material-icons right">clear_all</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>    
{% endblock %}

{% block left_section_desktop %}
<div class="col s2 hide-on-med-and-down white hoverable">
    <div class="section-header white-text center-align">
        CAMPEONATOS
    </div>
    <ul class="championship-list">
        <li class="center-align">
            <a href="{% url 'core:core_home' %}" class="">Jogos de Hoje</a>
        </li>
        <li class="center-align">
            <a href="{% url 'core:core_tomorrow_games' %}" class="">Jogos de Amanhã</a>
        </li>
        <li class="center-align">
            <a href="{% url 'core:after_tomorrow_games' %}" class="">{{after_tommorrow}}</a>
        </li>
    </ul>
    <ul class="collapsible ul-collapsible" data-collapsible="accordion">
        {% for location in location_leagues %}
        <li>
            <div class="collapsible-header championship-collapse-header">
                <i class="large material-icons green-text-button">chevron_right</i>
                {{location.name}}
            </div>
            <div class="collapsible-body championship-collapse-body">
                <ul class='ul-championship-title'>
                    {%for league in location_leagues|get_item:location %}
                    <li class="center-align">
                        <a href="{% url 'core:core_championship_get' pk=league.pk%}" class="championship-li">{{ league.name }}</a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{% endblock %}

{% block content %}           
{% endblock %}

{% block right_section_desktop %}
<div class="col s2 hide-on-med-and-down hoverable white">
    <div class="section-header white-text center-align">
        BILHETE
    </div>
    <ul class="ticket-list">
    </ul>
    <div class="make-bet">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s12 center-align bet-ticket-value-text">
                        Valor da Aposta
                    </div>
                    <div class="input-field col s12 bet-ticket-input">
                        <input placeholder="Digite aqui" type="number" class="validate center-align ticket-bet-value ticket-bet-value-desktop">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align cotation-sum">
                        Cota Total:
                        <span class="cotation-total">0</span>
                    </div>
                    <div class="col s12 center-align award-value-text">
                        Ganho:
                        <span class="award-value">R$ 0.00</span>
                    </div>
                </div>
                <div class="row bet-buttons">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light btn-bet-submit blue-button round" type="button" desktop="True">Apostar
                            <i class="material-icons right">check</i>
                        </button>
                        <button class="btn waves-effect waves-light btn-bet-undo red round" type="button" desktop="True">Resetar
                            <i class="material-icons right">clear_all</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

