<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
{% load filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% app_name %}</title>
    
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/alertify.min.css" %}">
    <link rel="stylesheet" href="{% static "css/themes/default.css" %}">
    <link href="{% static "css/material_icons.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2:700|Roboto" rel="stylesheet">
    
</head>
<body>
    {% block modals %}
    {% endblock %}
    
    <nav>
        <div class="nav-wrapper main-nav">
            <a href="{% url 'core:core_home' %}" class="brand-logo white-text">{% app_name %}</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

            {% block nav_links_desktop %}
            {% endblock %}

            {% block nav_links_mobile %}
            {% endblock %}
        </div>
    </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav">
            </div>
        </div>
        <div class="row">
            {% block mobile_menus %}
            {% endblock %}
            
            {% block left_section_desktop %}
            {% endblock %}
            
            {% block content %}
            {% endblock %}

            {% block right_section_desktop %}
            {% endblock %}
        </div>
    </main>

    <footer class="page-footer base-footer">
        <div class="footer-copyright">
            <div class="container">
            © 2018 Todos os direitos Reservados
            <a href="http://www.plataformabet.com" class="grey-text text-lighten-4 right" target="_blank">Plataforma Bet</a>
            </div>
        </div>
    </footer>

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/alertify.min.js" %}"></script>
    <script src="{% static "js/js.cookie.min.js" %}"></script>
    <script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
</body>

</html>