{% extends './base_game_list.html' %}

{% load filters %}

{% block content %}
<div class="col s12 l8">
    <div class="games-table-container">
        <table class="bordered highlight white centered games-table hoverable">                         
            <thead>
                <tr>
                    <th colspan="5" class="th-championsip-header">
                        <div class="center-align">
                            {{ championship_country }}
                        </div>
                    </th>
                </tr>                               
                    <tr>
                    <th>CASA x VISITANTE</th>
                    <th>1</th>
                    <th>2</th>
                    <th>X</th>
                    <th>MAIS</th>
                    </tr>
            </thead>
            <tbody>                                                                                                            
                    {% for game in games|order_by:"start_game_date" %}    
                        {% if game.cotations.all.count > 0 %}                                
                        <tr>
                            <td>
                                <div class="hide table-game-id">{{game.pk}}</div>
                                <div class="table-game-name">
                                    {{game.name}}
                                </div>
                                <div class="table-game-start-date">
                                    {{game.start_game_date}}
                                </div>
                            </td>
                            {% for cotation in game.cotations.all|standard_cotations_order_by:"name"%}                                    
                            <td>
                                <span class="hide cotation_pk">{{cotation.pk}}</span>
                                <span class="hide cotation_name">{{cotation.name}}</span>
                                <span class="cotation">{{cotation.value}}</span>
                                <span class="hide cotation_kind">{{cotation.kind}}</span>
                            </td>
                            {% endfor %}
                            <td class="more_cotations_button">
                                <i class="small material-icons">add</i>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}                                
            </tbody>                            
        </table>
    </div>                    
</div>                                
{% endblock %}
