{% extends './base_game_list.html' %}

{% load filters %}

{% block content %}

{% if user.is_authenticated and not perms.user.be_seller %}
    <span id="open_anon_modal" is="false"></span>
{% else %}
    <span id="open_anon_modal" is="true"></span>
{% endif %}

<div class="col s12 l8">
    <div class="games-table-container">
        <div class="th-championsip-header row">                          
            <div class="center-align col s12">
                {{ location_league }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8 center-align home-away-header">Casa x Visitante</div>
            <div class="cotations-desc-wrapper-desktop hide-on-med-and-down">
                <div class="col s3 l1 center-align home-away-header">Casa</div>
                <div class="col s3 l1 center-align home-away-header">Empate</div>
                <div class="col s3 l1 center-align home-away-header">Visitante</div>
                <div class="col s3 l1 center-align home-away-header">Mais</div>
            </div>
        </div>
        <div class="divider"></div>
        {% for game in games_selected_league %}
            <div class="game-item-wrapper">
                <div class="row">
                    <div class="col s12 l8 center-align">
                        <div class="hide table-game-id">{{game.pk}}</div>
                        <div class="table-game-name">{{game.name}}</div>
                        <div class="table-game-start-date">{{game.start_date}}</div>
                    </div>

                    <div class="cotations-desc-wrapper-mobile hide-on-large-only">
                        <div class="col s3 l2 center-align">Casa</div>
                        <div class="col s3 l2 center-align">Empate</div>
                        <div class="col s3 l2 center-align">Visitante</div>
                        <div class="col s3 l2 center-align">Mais</div>
                    </div>
                    <div class="cotations-wrapper">
                        {% for cotation in game.cotations.all|standard_cotations_order_by %}
                        <div class="col s3 l1 center-align">
                            <span class="hide cotation_pk">{{cotation.pk}}</span>
                            <span class="hide cotation_name">{{cotation.name | get_verbose_cotation}}</span>
                            <span class="cotation">{{cotation.price}}</span>
                            <span class="hide cotation_kind">{{cotation.market.name}}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col s3 l1 center-align">
                        <span class="more_cotations_button">+</span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
    </div>                 
</div>                                
{% endblock %}
