<!DOCTYPE html>
<html lang="en">

{% load static %} 
{% load filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bet Bola - Home</title>
    <link rel="stylesheet" href="{% static "css/materialize.css" %}">
    <link rel="stylesheet" href="{% static "css/alertify.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!-- More Cotations -->
    <div id="more-cotations" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Mais Cotas: <span class="more_cotation_header"></span></h4>
            <div class="row">
                <div class="">
                    <table class="bordered highlight white centered more-table">
                        <thead>
                            <tr>
                                <th>Cota</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- More Cotations -->

    <!-- Modal Login -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Login</h4>
            <div class="row">
                <form action="user/login/" method="POST">{% csrf_token %} {{ form.as_p }}
                    <div class="col s12">
                        <button class="btn waves-effect waves-light right" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Modal Login -->

    <!-- Check Ticket -->
    <div id="modal-check-ticket" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Consultar Ticket</h4>
            <div class="row">
                <form action="" method="get" id="check-ticket-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">event_note</i>
                            <input id="icon_prefix" type="text" class="validate check-ticket-input">
                            <label for="icon_prefix">N° do Ticket</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit">Consultar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- end Check Ticket -->

    <!-- Modal Register -->
    <div id="modal-register" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">
                <i class="material-icons right">close</i>
            </a>

            <h4>Registro</h4>
            <div class="row">
                <form action="{% url 'user:create_punter' %}" method="POST">{% csrf_token %} {{ form_punter.as_p}}
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Modal Register -->
    
    <nav>
        <div class="nav-wrapper green-ge">
            <a href="{% url 'core:home' %}" class="brand-logo white-text">Bet Bola</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_anonymous %}
                <li>
                    <a href="#modal-login" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Login</a>

                </li>

                <li>
                    <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Cadastre-se</a>
                </li>

                <li>
                    <a href="#modal-check-ticket" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Consultar Bilhete</a>
                </li>
                {% else %}
                <li class="user-logged-name">Olá, {{user}}</li>
                {% if is_seller %}
                <li>
                    <a href="/seller/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Vendedor</a>
                </li>
                {% else %}
                <li>
                    <a href="/user/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Cliente</a>
                </li>
                {% endif %}

                <li>
                    <a href="/user/logout" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        logout</a>
                </li>
                {% endif %}

            </ul>
            <ul class="side-nav" id="mobile-menu">

                <li>
                    <a href="#modal-login" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Login</a>
                </li>
                <li>
                    <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Cadastre-se</a>
                </li>
                <li>
                    <a href="#modal-check-ticket" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Consultar Bilhete</a>
                </li>

            </ul>

        </div>
    </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav green-bb">
                <span class="right white-text time">11:30</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align hide-on-large-only">
                <ul class="collapsible" data-collapsible="accordion">

                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">assistant_photo</i>Campeonatos</div>
                        <div class="collapsible-body white">
                            <ul class="championship-list">
                                {%for championship in championships%}
                                <li class="center-align">
                                    <a href="{% url 'core:game_championship' pk=championship.pk%}" class="">{{ championship }}</a>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">event_note</i>Ticket
                        </div>
                        <div class="collapsible-body white">
                            <ul class="ticket-list">
                            </ul>

                            <div class="make-bet">
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="col s12 center-align bet-ticket-value-text">
                                                Valor da Aposta
                                            </div>
                                            <div class="input-field col s12 bet-ticket-input">
                                                <input placeholder="Digite aqui" type="number" class="validate center-align ticket-bet-value">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 center-align cotation-sum">
                                                Cota Total:
                                                <span class="cotation-total">0</span>
                                            </div>
                                            <div class="col s12 center-align award-value-text">
                                                Ganho:
                                                <span class="award-value">R$ 0.00</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 center-align">
                                                <button class="btn waves-effect waves-light btn-bet-submit" type="button">Apostar
                                                    <i class="material-icons right">check</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- end make-bet -->

                        </div>
                        <!-- Collapse Body -->
                    </li>
                </ul>

                <!-- Mobile menus -->
            </div>
            <!-- row -->
            <div class="row main-section">
                <div class="col s2 hide-on-med-and-down white hoverable">

                    <!-- Championship List Menu-->
                    <div class="championship-header blue-c white-text center-align">
                        Campeonatos
                    </div>
                    <ul class="championship-list">
                        <li class="center-align valign-wrapper">
                            <!-- <i class="material-icons">chevron_right</i> -->

                            {%for championship in championships%}
                            <li class="center-align">
                                <a href="{% url 'core:game_championship' pk=championship.pk%}" class="">{{ championship }}</a>
                            </li>
                            {%endfor%}

                </div>
                <div class="col s12 l8">
                    <!-- Bets collection-->
                    <div class="games-table-container">
                        <table class="bordered highlight white centered games-table hoverable">
                            <thead>
                                <tr>
                                    <th>Jogo (Casa x Visitante)</th>
                                    <th>Casa</th>
                                    <th>Visitante</th>
                                    <th>Empate</th>
                                    <th>Mais Apostas</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for game in games %}
                                    {% if game.cotations.all.count > 0 %}
                                <tr>
                                    <td>
                                        <div class="hide table-game-id">{{game.pk}}</div>
                                        <div class="table-game-name">
                                            {{game.name}}
                                        </div>
                                        <div class="table-game-start-date">
                                            {{game.start_game_date}}
                                        </div>
                                    </td>
                                    {% for cotation in game.cotations.all|standard_cotations_order_by:"name"%}                                    
                                    <td>
                                        <span class="hide">{{cotation.pk}}</span>
                                        <span class="hide">{{cotation.name}}</span>
                                        <span class="cotation">{{cotation.value}}</span>
                                    </td>
                                    {% endfor %}
                                    <td class="more_cotations_button">
                                        <i class="small material-icons">add</i>
                                    </td>
                                </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col s2 hide-on-med-and-down hoverable white">
                    <!-- Ticket bets -->
                    <div class="ticket-header blue-c white-text center-align">
                        Ticket
                    </div>
                    <!-- TICKET LIST -->
                    <ul class="ticket-list">
                    </ul>

                    <div class="make-bet">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="col s12 center-align bet-ticket-value-text">
                                        Valor da Aposta
                                    </div>
                                    <div class="input-field col s12 bet-ticket-input">
                                        <input placeholder="Digite aqui" type="number" class="validate center-align ticket-bet-value">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align cotation-sum">
                                        Cota Total:
                                        <span class="cotation-total">0</span>
                                    </div>
                                    <div class="col s12 center-align award-value-text">
                                        Ganho:
                                        <span class="award-value">R$ 0.00</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button class="btn waves-effect waves-light btn-bet-submit" type="button">Apostar
                                            <i class="material-icons right">check</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- end make-bet -->

                </div><!-- end ticket col -->
            </div>
    </main>

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static "js/alertify.min.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
    

</body>

</html>