<!DOCTYPE html>
<html lang="en">
{% load static %} 
{% load filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bet Bola - Home</title>
    <link rel="stylesheet" href="{% static "css/materialize.css" %}">
    <link rel="stylesheet" href="{% static "css/alertify.min.css" %}">
    <link rel="stylesheet" href="{% static "css/themes/default.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!-- More Cotations -->
    <div id="more-cotations" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Mais Cotas: <span class="more_cotation_header"></span></h4>
            <div class="row">
                <div class="">
                    <table class="bordered highlight white centered more-table">
                        <thead class="more-cotations-thead">
                            <tr>
                                <th>Cota</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- End More Cotations -->


    
    <!-- Modal Login -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
                <a href="#" class="modal-close"><i class="material-icons right">close</i></a>
            <h4>Login</h4>
            <div class="row">
                <form class="col s12" action="/user/login/" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="username" id="login" type="text" class="validate" tabindex="1" autofocus>
                            <label for="login">Login</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password" type="password" class="validate" tabindex="2">
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="3">Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Random User -->
    
    <div id="modal-random-user" class="modal">
        <div class="modal-content">
                <a href="#" class="modal-close"><i class="material-icons right">close</i></a>
            <h4>Informações do Cliente</h4>
            <div class="row">
                <form class="col s12">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="nome" id="nome" type="text" class="nome" maxlength="40" tabindex="1" autofocus required>
                            <label for="nome">Nome do Cliente</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="telefone" id="telefone" type="text" class="telefone" maxlength="14" tabindex="2" required>
                            <label for="telefone">Telefone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right user-random" type="button" tabindex="3">Apostar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Modal Random User -->

    <!-- Modal Register -->
    <div id="modal-register" class="modal">
        <div class="modal-content">
                <a href="#" class="modal-close"><i class="material-icons right">close</i></a>
                
            <h4>Registro</h4>
            <div class="row">
                <form class="col s12" action="/user/register/" method="POST" id="user_register_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="full_name" id="name_register" type="text" class="validate" tabindex="1" autofocus required>
                            <label for="name" data-error="Nome  obrigatório" data-success="OK">Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <input name="email" id="email_register" type="email" class="validate" tabindex="2">
                          <label for="email" data-error="E-mail inválido" data-success="OK">Email (Opcional)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="login" id="login_register" type="text" class="validate" min="5" tabindex="3" required>
                            <label for="login" data-error="Login obrigatório" data-success="OK">Login</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password_register" type="password" class="validate" tabindex="4" required>
                            <label for="password" data-error="Senha obrigatória" data-success="OK">Senha</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <input name="cellphone" id="cellphone_register" type="text" class="validate" tabindex="5" data-inputmask="'mask': '99-9999999'" required>
                        <label for="icon_telephone">Telefone</label>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="6">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end Modal Register -->


    <!-- Check Ticket -->
    <div id="modal-check-ticket" class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close">
                <i class="material-icons right">close</i>
            </a>
            <h4>Consultar Ticket</h4>
            <div class="row">
                <form action="" method="get" id="check-ticket-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">event_note</i>
                            <input id="icon_prefix" type="text" class="validate check-ticket-input" tabindex="1" autofocus>
                            <label for="icon_prefix">N° do Ticket</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light right" type="submit" tabindex="2">Consultar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- end Check Ticket -->

    
    <nav>
        <div class="nav-wrapper green-ge">
            {% include 'core/header_info.html' %}
            <ul class="right hide-on-med-and-down">
                {% if user.is_anonymous %}
                <li>
                    <a href="#modal-login" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger hoverable">
                        Login</a>

                </li>

                <li>
                    <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Cadastre-se</a>
                </li>

                <li>
                    <a href="#modal-check-ticket" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Consultar Bilhete</a>
                </li>
                {% else %}
                <li class="user-logged-name">Olá, {{user}}</li>
                {% if is_seller %}
                <li>
                    <a href="/seller/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Vendedor</a>
                </li>
                <li>
                    <a href="/user/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Cliente</a>
                </li>
                {% else %}
                <li>
                    <a href="/user/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Cliente</a>
                </li>
                {% endif %}

                {% if user.is_superuser %}
                <li>
                    <a href="/config/" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Configurações</a>
                </li>
                {% endif %}

                <li>
                    <a href="/user/logout" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        logout</a>
                </li>
                {% endif %}

            </ul>
            <ul class="side-nav" id="mobile-menu">
                {% if user.is_anonymous %}
                <li>
                    <a href="#modal-login" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Login</a>
                </li>
                <li>
                    <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Cadastre-se</a>
                </li>
                <li>
                    <a href="#modal-check-ticket" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                        Consultar Bilhete</a>
                </li>
                {% else %}
                <li class="user-logged-name user-logged-mobile">Olá, {{user}}</li>
                {% if is_seller %}
                <li>
                    <a href="/seller/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Vendedor</a>
                </li>
                <li>
                    <a href="/user/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Cliente</a>
                </li>
                {% else %}
                <li>
                    <a href="/user/home" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Painel do Cliente</a>
                </li>
                {% endif %}

                {% if user.is_superuser %}
                <li>
                    <a href="/config/" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        Configurações</a>
                </li>
                {% endif %}

                <li>
                    <a href="/user/logout" class="waves-effect waves-light btn white grey-text text-darken-4 ">
                        logout</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav green-bb">
                <span class="right white-text time"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align hide-on-large-only">
                <ul class="collapsible" data-collapsible="accordion">

                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">assistant_photo</i>CAMPEONATOS</div>
                        <div class="collapsible-body white">
                            <ul class="championship-list">
                                {%for championship in championships%}
                                <li class="center-align">
                                    <a href="{% url 'core:game_championship' pk=championship.pk%}" class="">{{ championship }}</a>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">event_note</i>
                            TICKET
                        </div>
                        <div class="collapsible-body white">
                            <ul class="ticket-list">
                            </ul>

                            <div class="make-bet">
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="col s12 center-align bet-ticket-value-text">
                                                Valor da Aposta
                                            </div>
                                            <div class="input-field col s12 bet-ticket-input">
                                                <input placeholder="Digite aqui" type="number" class="validate center-align ticket-bet-value ticket-bet-value-mobile">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 center-align cotation-sum">
                                                Cota Total:
                                                <span class="cotation-total">0</span>
                                            </div>
                                            <div class="col s12 center-align award-value-text">
                                                Ganho:
                                                <span class="award-value">R$ 0.00</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 center-align">
                                                <button class="btn waves-effect waves-light btn-bet-submit" type="button" desktop="False">Apostar
                                                    <i class="material-icons right">check</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- end make-bet -->

                        </div>
                        <!-- Collapse Body -->
                    </li>
                </ul>

                <!-- Mobile menus -->
            </div>
            <!-- row -->
            <div class="row main-section">
                <div class="col s2 hide-on-med-and-down white hoverable">

                    <!-- Championship List Menu-->
                    <div class="championship-header blue-c white-text center-align">
                        CAMPEONATOS
                    </div>
                    <ul class="championship-list">
                        <li class="center-align">
                            <a href="{% url 'core:home' %}" class="">Jogos de Hoje</a>
                        </li>
                        <li class="center-align">
                            <a href="{% url 'core:tomorrow_games' %}" class="">Jogos de Amanhã</a>
                        </li>
                        <li class="center-align valign-wrapper">
                            <!-- <i class="material-icons">chevron_right</i> -->
                            {% for country in countries%}                                
                                 <li class="center-align">
                                    <div class="championship-header championship-color white-text center-align">   {{countries_dict|get_item:country}} </div>
                                 </li>
                                {%for championship in championships%}
                                    {% if championship.country == country%}
                                <li class="center-align">
                                    <a href="{% url 'core:game_championship' pk=championship.pk%}" class="">{{ championship }}</a>
                                </li>
                                    {%endif%}
                                {%endfor%}
                            {%endfor%}
                </div>

                <div class="col s12 l8">                               
                {% for championship in dict_championship_games.keys %}                     
                    <!-- Bets collection-->
                    <div class="games-table-container">

                        <table class="bordered highlight white centered games-table hoverable">                         
                            <thead>
                                    <tr>                                        
                                        <th colspan="5">                                        
                                            <div class="championship-header championship-color white-text center-align">
                                                {{championship.name}} - {{countries_dict|get_item:championship.country}}
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                    <th>CASA x VISITANTE</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>X</th>
                                    <th>MAIS</th>
                                    </tr>
                            </thead>

                            <tbody>                                                                                                            
                                    {% for game in dict_championship_games|get_item:championship%}                                    
                                        {% if game.cotations.all.count > 0 %}                                        
                                    <tr>
                                        <td>
                                            <div class="hide table-game-id">{{game.pk}}</div>
                                            <div class="table-game-name">
                                                {{game.name}}
                                            </div>
                                            <div class="table-game-start-date">
                                                {{game.start_game_date}}
                                            </div>
                                        </td>
                                        {% for cotation in game.cotations.all|standard_cotations_order_by:"name"%}                                    
                                        <td>
                                            <span class="hide cotation_pk">{{cotation.pk}}</span>
                                            <span class="hide cotation_name">{{cotation.name}}</span>
                                            <span class="cotation">{{cotation.value}}</span>
                                            <span class="hide cotation_kind">{{cotation.kind}}</span>
                                        </td>
                                        {% endfor %}
                                        <td class="more_cotations_button">
                                            <i class="small material-icons">add</i>
                                        </td>
                                    </tr>
                                        {% endif %}
                                    {% endfor %}                                
                            </tbody>                            
                        </table>
                    </div>                    
                    {%endfor%}
                </div>                                
                <div class="col s2 hide-on-med-and-down hoverable white">
                    <!-- Ticket bets -->
                    <div class="ticket-header blue-c white-text center-align">
                        TICKET
                    </div>
                    <!-- TICKET LIST -->
                    <ul class="ticket-list">
                    </ul>
                    <div class="make-bet">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="col s12 center-align bet-ticket-value-text">
                                        Valor da Aposta
                                    </div>
                                    <div class="input-field col s12 bet-ticket-input">
                                        <input placeholder="Digite aqui" type="number" class="validate center-align ticket-bet-value ticket-bet-value-desktop">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center-align cotation-sum">
                                        Cota Total:
                                        <span class="cotation-total">0</span>
                                    </div>
                                    <div class="col s12 center-align award-value-text">
                                        Ganho:
                                        <span class="award-value">R$ 0.00</span>
                                    </div>
                                </div>
                                {% if is_seller %}
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button class="btn waves-effect waves-light btn-bet-submit-seller" type="button" desktop="True">Apostar
                                            <i class="material-icons right">check</i>
                                        </button>
                                    </div>
                                </div>                                
                                {%else%}
                                <div class="row">
                                    <div class="col s12 center-align">
                                        <button class="btn waves-effect waves-light btn-bet-submit" type="button" desktop="True">Apostar
                                            <i class="material-icons right">check</i>
                                        </button>
                                    </div>
                                </div>
                                {%endif%}

                            </form>
                        </div>
                    </div><!-- end make-bet -->

                </div><!-- end ticket col -->
            </div>
    </main>

    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static "js/alertify.min.js" %}"></script>
    <script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
    

</body>

</html>