{% extends './base_game_list.html' %}

{% load filters %}
{% load static %}

{% block content %}

{% if user.is_authenticated and not perms.user.be_seller %}
    <span id="open_anon_modal" is="false"></span>
{% else %}
    <span id="open_anon_modal" is="true"></span>
{% endif %}

<div class="col s12 l8">
    <div class="row">
        <div class="col s12">
            <div class="slider-wrapper">
                <div class="carousel carousel-slider">
                    <a class="carousel-item" href="#one!"><img src="{% static 'img/slider/banner.jpg' %}"></a>
                    <a class="carousel-item" href="#two!"><img src="{% static 'img/slider/banner.jpg' %}"></a>
                </div> 
            </div>
        </div>
    </div>
    <div class="games-table-container">                          
        {% for league in league_games %}
        <div class="th-championsip-header row">                          
            <div class="center-align col s12">
                {{league.name}} - {{league.country.name}}
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8 center-align home-away-header">Casa x Visitante</div>
            <div class="cotations-desc-wrapper-desktop hide-on-med-and-down">
                <div class="col s3 l1 center-align home-away-header">Casa</div>
                <div class="col s3 l1 center-align home-away-header">Empate</div>
                <div class="col s3 l1 center-align home-away-header">Visitante</div>
                <div class="col s3 l1 center-align home-away-header">Mais</div>
            </div>
        </div>
        <div class="divider"></div>
        {% for game in league_games|get_item:league %}
            <div class="game-item-wrapper">                      
                {% if game.cotations.all.count > 0 %}
                <div class="row">
                    <div class="col s12 l8 center-align">
                        <div class="hide table-game-id">{{game.pk}}</div>
                        <div class="table-game-name">{{game.name}}</div>
                        <div class="table-game-start-date">{{game.start_game_date}}</div>
                    </div>

                    <div class="cotations-desc-wrapper-mobile hide-on-large-only">
                        <div class="col s3 l2 center-align">Casa</div>
                        <div class="col s3 l2 center-align">Empate</div>
                        <div class="col s3 l2 center-align">Visitante</div>
                        <div class="col s3 l2 center-align">Mais</div>
                    </div>
                
                    {% for cotation in game.cotations.all|standard_cotations_order_by %}
                    <div class="col s3 l1 center-align">
                        <span class="hide cotation_pk">{{cotation.pk}}</span>
                        <span class="hide cotation_name">{{cotation.name|get_verbose_cotation}}</span>
                        <span class="cotation">{{cotation.value}}</span>
                        <span class="hide cotation_kind">{{cotation.kind}}</span>
                    </div>
                    {% endfor %}
                    <div class="col s3 l1 center-align">
                        <span class="more_cotations_button">+</span>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="divider"></div>
        {% endfor %}
        {% empty %}
        <div class="games-table-container">
            <div class="empty_game_set center-align">
                <div class="row"><i class="medium-icon material-icons">insert_emoticon</i></div>
                    <div class="row">No momento não há jogos para a opção selecionada.</div>
            </div>
        </div>             
        {% endfor %}
    </div>
    <div class="row">
            <ul class="pagination center">
                <span class="step-links">
                    {%for page_num in other_thing %}
                        {% if page_num == actual_page %}                                  
                            <li class="active" ><a href="?page={{page_num}}">{{page_num}}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{page_num}}">{{page_num}}</a></li>
                        {% endif %}
                    {%endfor%}
                </span>                                                                   
            </ul>
    </div>
</div>


{% endblock %}
