{% extends './base_main.html' %}

{% block modals %}
{% endblock %}

{% block nav_links_desktop %}
<ul class="right hide-on-med-and-down">
    <li>
        <a href="/" class="waves-effect waves-light btn white green-text-button modal-trigger hoverable">
            Voltar</a>
    </li>
</ul>
{% endblock %}

{% block nav_links_mobile %}
<ul class="side-nav" id="mobile-menu">
    <li>
        <a href="/" class="waves-effect waves-light btn white green-text-button round">Voltar</a>
    </li>
</ul>
{% endblock %}


{% block mobile_menus %}
{% endblock %}

{% block left_section_desktop %}
{% endblock %}

{% block content %}
<div class="col s12 center-align">
    <div class="ticket_not_found">404 - Ticket não encontrado.</div>
</div>
{% endblock %}

{% block right_section_desktop %}
{% endblock %}
