{% extends './base_main.html' %}
{% load filters %}

{% block modals %}
{% endblock %}

{% block nav_links_desktop %}
<ul class="right hide-on-med-and-down">
    <li>
        <a href="{% url 'core:core_home' %}" class="waves-effect waves-light btn white green-text-button modal-trigger hoverable">
            Início</a>
    </li>
</ul>
{% endblock %}

{% block nav_links_mobile %}
<ul class="side-nav" id="mobile-menu">
    <li>
        <a href="{% url 'core:core_home' %}" class="waves-effect waves-light btn white green-text-button round">
            Início</a>
    </li>
</ul>
{% endblock %}


{% block mobile_menus %}
{% endblock %}

{% block left_section_desktop %}
{% endblock %}

{% block content %}
<div class="col s12 center-align">
    {% if show_ticket %}
    <div class="row">
        <div id="ticket-details-actions">
            <div class="col s6">
                <a class="btn waves-effect waves-light blue-button" type="button" 
                    href="/utils/pdf/{{ticket.pk}}" target="blank">Abrir PDF
                    <i class="material-icons right">picture_as_pdf</i>
                </a>
            </div>
            <div class="col s6">
                <a class="btn waves-effect waves-light yellow black-text"
                onclick="window.location.href='intent://{{print}}#Intent;scheme=quickprinter;package=pe.diegoveloper.printerserverapp;end;'">Imprimir
                    <i class="material-icons right">print</i>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col s11 l10 hcenter white ticket-details">
            {% if show_ticket %}
            <div class="row white">
                <div class="details-header">
                    <h5>Detalhes do Ticket: {{ticket.pk}}</h5>
                </div>
            </div>
            <div class="row white">
                <div class="col s12 ticket-details-info">
                    <div class="row">

                        {% if ticket.seller %}
                        <div class="row">
                            <span class='bold'>Vendedor:</span> {{ ticket.seller.first_name }}
                        </div>
                        {% endif %}
                        {% if ticket.normal_user %}
                        <div class="row">
                            <span class='bold'>Cliente:</span> {{ ticket.normal_user.first_name }}
                        </div>
                        {% endif %}
                        {% if ticket.user %}
                        <div class="row">
                                <span class='bold'>Cliente:</span> {{ ticket.user.first_name }}
                        </div>
                        {% endif %}

                        {%if ticket.user.cellphone %}
                            {% if perms.user.be_seller or user.is_superuser or perms.user.be_manager %}
                            <div class="row"><span class='bold'>Telefone:</span> {{ticket.user.cellphone}}</div>
                            {% endif %}
                        {% endif %}

                        {%if ticket.normal_user.cellphone %}
                            {% if perms.user.be_seller or user.is_superuser or perms.user.be_manager %}
                            <div class="row"><span class='bold'>Telefone:</span> {{ticket.normal_user.cellphone}}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <span class='bold'>Data de Criação:</span> {{ ticket.creation_date }}
                    </div>
                    <div class="row">
                        <span class='bold'>Status do Pagamento:</span> {{ ticket.payment.status_payment }}
                    </div>
                
                    {% if ticket.payment.who_set_payment %}
                    <div class="row">
                            <span class='bold'>Pago por:</span> {{ ticket.payment.who_set_payment.first_name }}
                    </div>
                    {% endif %}

                    {% if ticket.payment.payment_date %}
                    <div class="row">
                        <span class='bold'>Data de Pagamento:</span> {{ticket.payment.payment_date}}
                    </div>
                    {% endif %}

                    <div class="row"><span class='bold'>Status do Ticket:</span> {{ticket.bet_ticket_status}}</div>
                    <div class="row"><span class='bold'>Valor apostado:</span> R$ {{ticket.value | floatformat:"2"}}</div>
                    <div class="row"><span class='bold'>Cota Total:</span> {{ticket.cotation_sum | floatformat:"2"}}</div>
                    <div class="row"><span class='bold'>Ganho Possível:</span> R$ {{ ticket.reward.value | floatformat:"2" }}</div>
                </div>
            </div>
            <div class="row white">
                <div class="details-header-games">
                    <h5>Jogos apostados</h5>                                
                </div>
            </div>
            <div class="row white">
                <div class="col s12 l10 hcenter">
                    <table class="striped ticket-details-table">
                            <thead>
                                <tr>
                                    <th>Jogo</th>
                                    <th>Aposta</th>
                                    <th>Status da Cota</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for cotation in ticket.cotations.all %}
                        <tr>
                            <td>
                                <span class='bold'>{{cotation.game}}</span> <br>
                                <span>{{cotation.game.start_game_date}}</span>
                            </td>
                            <td>
                            {{cotation.kind}} <br>
                            Cota: {{cotation.name | get_verbose_cotation}} : {{ cotations_values|get_item:cotation.pk|floatformat:2 }}
                            </td>
                            <td>
                            {% if cotation.winning %}
                                Acertou
                            {% elif cotation.winning ==  None %}
                                Em Aberto
                            {% else %}
                                Não acertou
                            {% endif %}
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}

        <div class="row white">
                <div class="details-header">
                    <h5>A visualização desse Ticket não está disponível, consulte a versão impressa.</h5>
                </div>
            </div>

        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block right_section_desktop %}
{% endblock %}
