<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bet Bola - Home</title>
    <link rel="stylesheet" href="{% static "css/materialize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <nav>
        <div class="nav-wrapper green-ge">
            <a href="#!" class="brand-logo white-text">Bet Bola</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <ul class="side-nav" id="mobile-menu">

                <li>
                    <a href="#" class="waves-effect waves-light btn white grey-text text-darken-4 round">Voltar</a>
                </li>

            </ul>

        </div>
    </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav green-bb">
                <span class="right white-text time">11:30</span>
            </div>
        </div>

        <div class="row main-section">

            <div class="col s12 center-align">
                <div class="delay-msg col s12 l6 hcenter">
                    <i class="red-text material-icons">info</i> Os resultados são atualizados a cada 5 minutos, portanto, resultados incorretos podem ser exibidos
                    nesse intervalo de tempo.
                </div>
                <div class="row">
                    <div class="col s12 l10 hcenter white ticket-details">
                        <div class="row white">
                            <div class="details-header">
                                <h5>Detalhes do Ticket #4343</h5>
                            </div>
                        </div>

                        <div class="row white">
                            <div class="col s4">
                                Data de Criação: {{ticket.creation_date}}
                            </div>
                            <div class="col s4">
                                Status do Pagamento: {{ticket.payment.status_payment}}
                            </div>
                            <div class="col s4">
                                Status do Ticket: {{ticket.bet_ticket_status}}
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row purple lighten-5">
                            <div class="col s4">
                                Valor apostado: {{ticket.value}}
                            </div>
                            <div class="col s4">
                                Cota Total: {{ticket.cota_total}}
                            </div>
                            <div class="col s4">
                                Ganho Possível: R$ 300
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row white">
                            <div class="col s12 l6 hcenter">
                                Recompensa entregue ao ganhador: {{ticket.reward.status_reward}}
                            </div>
                        </div>
                        <div class="row white">
                            <div class="details-header-games">
                                <h5>Jogos apostados</h5>                                
                            </div>
                        </div>
                        <div class="row white">
                            <div class="col s12 l10 hcenter">
                                {% for cotation in ticket.cotations.all %}
                                <div class="col s4">
                                    Jogo: {{cotation.game}}
                                </div>
                                <div class="col s4">
                                    Cota Apostada: {{cotation.value}}
                                </div>
                                <div class="col s4">
                                    Status da Cota: {{cotation.status}}
                                </div>
                                {%endfor%}
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </main>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/home.js"></script>

</body>

</html>