<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bet Bola - Home</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!-- Bet Success -->
    <div id="bet-success" class="modal">
        <div class="modal-content">
                <a href="#" class="modal-close"><i class="material-icons right">close</i></a>

            <h5 class="center-align">Sucesso</h5>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 center-align success-bet">
                    Sua aposta foi cadastrada em nosso sistema. <br>
                    O número do seu Ticket é: <span class="ticket-number"> #234242 </span> leve até um <br>
                    de nossos vendedores para validar (pagar) sua aposta.
                </div>
            </div>
        </div>
    </div>
    <!-- end Bet Success -->


    <nav>

        <div class="nav-wrapper green-ge">
            <a href="#!" class="brand-logo white-text">Bet Bola</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <span class="welcome">Seja bem vindo, Pablo </span>
                      
                </li>
                <li>
                    <a href="#modal-register" class="waves-effect waves-light btn white grey-text text-darken-4 modal-trigger">
                         Sair</a>
                </li>


            </ul>
            <ul class="side-nav" id="mobile-menu">

                <li>    
                    <span class="welcome">Seja bem vindo, Pablo </span>
                </li>
                <li>
                    <a href="cadastro.html" class="waves-effect waves-light btn white grey-text text-darken-4 round">Sair</a>
                </li>

            </ul>

        </div>
    </nav>

    <main>
        <div class="col s12 center-align">
            <div class="subnav green-bb">
                <span class="right white-text time">11:30</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align hide-on-large-only">
                <ul class="collapsible" data-collapsible="accordion">

                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">assistant_photo</i>Menu</div>
                        <div class="collapsible-body white">
                            <ul class="championship-list">

                                <li class="center-align">
                                    <a href="#" class="">Minhas Apostas</a>
                                </li>
                                <li class="center-align">
                                    <a href="#" class="">Mudar Senha</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <!-- Mobile menus -->
            </div>
            <!-- row -->
            <div class="row main-section">
                <div class="col s2 hide-on-med-and-down white hoverable">

                    <!-- Championship List Menu-->
                    <div class="championship-header blue-c white-text center-align">
                        Menu
                    </div>
                    <ul class="championship-list">
                        <li class="center-align valign-wrapper">
                            <!-- <i class="material-icons">chevron_right</i> -->
                            <a href="#">Minhas Apostas</a>
                        </li>
                        <li class="center-align">
                            <a href="#" class="">Mudar Senha</a>
                        </li>
                    </ul>

                </div>
                <div class="col s12 l10">
                    <!-- Bets collection-->
                    <div class="games-table-container">
                        <table class="bordered highlight white centered games-table hoverable">
                            <thead>
                                <tr>
                                    <th>Número do Ticket</th>
                                    <th>Data da aposta</th>
                                    <th>Status</th>
                                    <th>Ver</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        # 12342
                                    </td>
                                    <td>
                                        24/08/1987 12:30
                                    </td>
                                    <td>
                                        Aguardando Resultado
                                    </td>
                                    <td><i class="material-icons">open_in_new</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!--
                <div class="col s2 hide-on-med-and-down hoverable white">
                
                </div>
            -->
                <!-- end ticket col -->
            </div>
    </main>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/home.js"></script>

    <script>
    $(document).ready(function(){
        $('#bet-success').modal('open');
    });
    </script>

</body>

</html>