{% extends 'core/base_main.html' %}

{% block modals %}

<!-- Modal Password Change -->
<div id="modal-change-password" class="modal">
    <div class="modal-content">
        <a href="#" class="modal-close">
            <i class="material-icons right">close</i>
        </a>
        <h4>Mudar Senha</h4>
        <div class="row">
            <form id="change-pass-user-form" method="POST">
                {% csrf_token %} 
                <div class="row">
                    <div class="input-field col s12">
                        <input name="actual_pass" id="actual_pass" type="password" class="validate" tabindex="1" autofocus>
                        <label for="login">Senha Atual</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="new_pass" id="new_pass" type="password" class="validate" tabindex="2">
                        <label for="password">Nova Senha</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light right" type="submit" tabindex="3">Trocar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end Password Change -->
{% endblock %}

{% block nav_links_desktop %}
<ul class="right hide-on-med-and-down">
    <li class="user-logged-name">Olá, {{user}}</li>
    <li>
        <a href="{% url 'core:core_home' %}" class="waves-effect waves-light btn white green-text-button">
            Início</a>
    </li>
    <li>
        <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button">
            Logout</a>
    </li>
</ul>
{% endblock %}

{% block nav_links_mobile %}
<ul class="side-nav" id="mobile-menu">
    <li class="user-logged-name user-logged-mobile">Olá, {{user}}</li>
    <li>
        <a href="{% url 'core:core_home' %}" class="waves-effect waves-light btn white green-text-button">
            Início</a>
    </li>
    <li>
        <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button">
            Logout</a>
    </li>
</ul>
{% endblock %}


{% block mobile_menus %}
<div class="col s12 center-align hide-on-large-only">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header collapsible-header-mobile">
                <i class="material-icons">play_circle_outline</i>Menu</div>
            <div class="collapsible-body white">
                <ul class="championship-list">

                    <li class="center-align">
                        <a href="{% url 'user:user_punter_home' %}" class="">Minhas Apostas</a>
                    </li>
                    <li class="center-align">
                        <a href="#modal-change-password" class="modal-trigger">Mudar Senha</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block left_section_desktop %}
{% endblock %}

{% block content %}

<div class="row main-section">
    <div class="col s2 hide-on-med-and-down white hoverable">
        <div class="section-header white-text center-align">
            Menu
        </div>
        <ul class="championship-list">
            <li class="center-align valign-wrapper">
                <a href="{% url 'user:user_punter_home' %}" class="modal-trigger">Minhas Apostas</a>
            </li>
            <li class="center-align">
                <a href="#modal-change-password" class="modal-trigger">Mudar Senha</a>
            </li>
        </ul>
    </div>
    <div class="col s12 l10">                
        <div class="games-table-container">
            {% if bet_tickets %}
            <table class="bordered highlight white centered games-table hoverable">
                <thead>
                    <tr>
                        <th>Número do Ticket</th>
                        <th>Data da aposta</th>
                        <th>Status</th>
                        <th>Status Pagamento</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in bet_tickets %}
                    <tr>
                        <td>
                            # {{ ticket.pk }}
                        </td>
                        <td>
                            {{ ticket.creation_date }}
                        </td>
                        <td>
                            {{ ticket.bet_ticket_status }}
                        </td>
                        <td>
                            {{ ticket.payment.status_payment }}
                        </td>
                        <td>
                            <a href="{% url 'core:core_ticket_get' pk=ticket.pk %}"><i class="medium-icon material-icons">open_in_new</i> </a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
            {% else %}
            <div class="empty_game_set">
                Você não fez nenhuma aposta.
            </div>
            {% endif %}
            <div class="row">
                <ul class="pagination">
                    <span class="step-links">                                                                     
                        {% if bet_tickets.has_previous%}
                            <li class="waves-effect"><a href="?page={{ bet_tickets.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}                                    
                        
                        {%for page in page_range%}
                            {% if page == bet_tickets.number %}                                    
                                <li class="active" ><a href="?page={{page}}">{{page}}</a></li>
                            {% else %}
                                <li class="waves-effect"><a href="?page={{page}}">{{page}}</a></li>
                            {% endif %}
                        {%endfor%}                                

                        {% if bet_tickets.has_next%}
                            <li class="waves-effect"><a href="?page={{ bet_tickets.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}   
                    </span>                                                                   
                </ul>
            </div>
        </div>
    </div>     
</div> 
{% endblock %}

{% block right_section_desktop %}
{% endblock %}