{% extends 'core/base_main.html' %}

{% block modals %}
{% endblock %}

{% block nav_links_desktop %}
<ul class="right hide-on-med-and-down">
    <li class="user-logged-name">Olá, {{user}}</li>
    <li>
        <a href="{% url 'user:user_seller_home' %}" class="waves-effect waves-light btn white green-text-button ">
            Painel do Vendedor</a>
    </li>
    <li>
        <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button ">
            logout</a>
    </li>
</ul>
{% endblock %}

{% block nav_links_mobile %}
<ul class="side-nav" id="mobile-menu">
    <li class="user-logged-name user-logged-mobile">Olá, {{user}}</li>
    <li>
        <a href="{% url 'user:user_seller_home' %}" class="waves-effect waves-light btn white green-text-button ">
            Painel do Vendedor</a>
    </li>
    <li>
        <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button ">
            Logout</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="col s12 l10">
    <div class="games-table-container">
    {% if bet_tickets %}
        <table class="bordered highlight white centered games-table hoverable">
            <thead>
                <tr>
                    <th>Número do Ticket</th>
                    <th>Data da aposta</th>
                    <th>Status</th>
                    <th>Status Pagamento</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in bet_tickets %}
                <tr>
                    <td>
                        # {{ ticket.pk }}
                    </td>
                    <td>
                        {{ ticket.creation_date }}
                    </td>
                    <td>
                        {{ ticket.bet_ticket_status }}
                    </td>
                    <td>
                        {{ ticket.payment.status_payment }}
                    </td>
                    <td>
                        <a href="{% url 'core:core_ticket_get' pk=ticket.pk %}"><i class="medium-icon material-icons">open_in_new</i> </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="empty_game_set">
            Você não criou nenhuma aposta.
        </div>
        {% endif %}
    </div>
    <div class="row">
            <ul class="pagination center">
                <span class="step-links">                                                                     
                    {% if bet_tickets.has_previous%}
                        <li class="waves-effect"><a href="?page={{ bet_tickets.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}                                    
                    
                    {%for page in page_range%}
                        {% if page == bet_tickets.number %}                                    
                            <li class="active" ><a href="?page={{page}}">{{page}}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{page}}">{{page}}</a></li>
                        {% endif %}
                    {%endfor%}                                

                    {% if bet_tickets.has_next%}
                        <li class="waves-effect"><a href="?page={{ bet_tickets.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}   
                </span>                                                                   
            </ul>
    </div>
</div>
{% endblock %}