{% extends 'core/base_main.html' %}

{% block modals %}
{% endblock %}

{% block nav_links_desktop %}
<ul class="right hide-on-med-and-down">
    <li class="user-logged-name">Olá, {{user}}</li>
    <li>
        <a href="{% url 'user:manager_permissions' %}" class="waves-effect waves-light btn white green-text-button">
            Voltar</a>
    </li>
    <li>
        <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button">
            Logout</a>
    </li>
</ul>
{% endblock %}

{% block nav_links_mobile %}
<ul class="side-nav" id="mobile-menu">
    <li class="user-logged-name">Olá, {{user}} - Saldo: R$ {{user.manager.credit_limit_to_add}}</li>
    <li>
        <a href="{% url 'user:manager_permissions' %}" class="waves-effect waves-light btn white green-text-button">
            Voltar</a>
    </li>
    <li>
        <a href="{% url 'user:user_logout' %}" class="waves-effect waves-light btn white green-text-button">
            Logout</a>
    </li>
</ul>
{% endblock %}


{% block mobile_menus %}
<div class="col s12 center-align hide-on-large-only">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header collapsible-header-mobile">
                <i class="material-icons">play_circle_outline</i>Menu</div>
            <div class="collapsible-body white">
                <ul class="championship-list">
                    <li class="center-align">
                        <a href="#" class="">Meus Vendedores</a>
                    </li>                    
                </ul>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block left_section_desktop %}
{% endblock %}

{% block content %}

<div class="row main-section">
    <div class="col s2 hide-on-med-and-down white hoverable">
        <div class="section-header white-text center-align">
            Menu
        </div>
        <ul class="championship-list">
            {% for item in management_list %}
            <li class="center-align valign-wrapper">
                <a href="#" class="modal-trigger">{{item}}</a>
            </li>         
            {% endfor %}   
        </ul>
    </div>
    <div class="col s12 l10">                
        <div class="games-table-container">
            {% if sellers %}
            <table class="bordered highlight white centered games-table hoverable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Saldo</th>
                        <th>Faturamento</th>                   
                    </tr>
                </thead>
                <tbody>
                    {% for seller in sellers %}
                        <td>
                                {{ seller.pk }}
                        </td>
                        <td>
                            {{ seller.first_name }}
                        </td>
                        <td>
                            {{ seller.credit_limit }}
                        </td>
                        <td>
                            {{ seller.actual_revenue }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
            {% else %}
            <div class="empty_game_set">
                Você não tem vendedores associoados.
            </div>
            {% endif %}
            <div class="row">
                <ul class="pagination">
                    <span class="step-links">                                                                     
                        {% if sellers.has_previous%}
                            <li class="waves-effect"><a href="?page={{ sellers.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}                                    
                        
                        {%for page in page_range%}
                            {% if page == sellers.number %}                                    
                                <li class="active" ><a href="?page={{page}}">{{page}}</a></li>
                            {% else %}
                                <li class="waves-effect"><a href="?page={{page}}">{{page}}</a></li>
                            {% endif %}
                        {%endfor%}                                

                        {% if sellers.has_next%}
                            <li class="waves-effect"><a href="?page={{ sellers.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}   
                    </span>                                                                   
                </ul>
            </div>
        </div>
    </div>     
</div> 
{% endblock %}

{% block right_section_desktop %}
{% endblock %}